

.top-right1{
  top: 12px;
  right: 12px;
  transition: transform .6s ease-in-out;
  animation: toast-in-right .7s;
}

html,body {
  background-color: #f0f2f5;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

 
.topcard {     
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.card-body {
  cursor: pointer;
}
