.form-groups input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray
  }
  
  input:focus {
    border-color: none
  }

  #comments {
    border-radius: 25px;
    border: 2px solid lightgray;
    padding: 20px;   
    height: 15px;   
  }

  

  p {
    font-size: large;
}

