.commentcard {     
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    background:#f0f2f5;
  }

.editpostbtn{
    padding: 0;
  border: none;
  background: none;
  }
  
  .editpostbtn:focus,.editpostbtn:active {
    outline: none !important;
    box-shadow: none;
    color:gray;
  }
  
  .flexclass {
    display:flex;
  }